<html>   
    <head>    
        <title>查看单位</title>   
    </head>   
    <body align="center" background="/media/Images/back.jpg"> 
    <p align="center"><font size="6" face="楷体" color="blue">欢迎你，管理员{{Username}}</font></p>
    <p align="center"><a href="/homepage">返回主页</a></p>
    {% if isnull == 0 %}
    <p> 查看单位：</p>
<table border=1 align="center" background="/media/Images/formback.jpg">
 <tr>
  <th>名称</th><th>地址</th><th>电话</th><th>邮箱</th>
 </tr>
{% for belong in belong_list %}
 <tr>
  <td>{{ belong.Name }}</td>
  <td>{{ belong.Address }}</td>
  <td>{{ belong.Phone }}</td>
  <td>{{ belong.Email }}</td>
  <td><a href="/delete_belong/?Belong={{belong.Name}}">删除</a>
  <a href="/updata_belong/?Belong={{belong.Name}}">修改</a></td>
 </tr>
{% endfor %}
</table>
<p><a href="/add_belong">点此添加单位</a></p>
{% else %}
<p>未找到单位信息</p>
<p><a href="/add_belong">点此添加单位</a></p>
{% endif %}
</body> 
</html> 