<html>   
    <head>    
        <title>表单详情</title>   
<script>
    function check(f){
        if( f.action.value == "借出" && f.time.value == '' )
        {
            alert("请输入时间!")
            return false;
        }
        if( f.reason.value == '' )
        {
            alert("请输入理由!")
            return false;
        }
        if( f.tobelong.value == '' )
        {
            alert("请输入调拨单位!")
            return false;
        }
    }
</script>
    </head>   
    <body align="center" background="/media/Images/back.jpg">
    <p align="center">
<p align="center"><font size="6" face="楷体" color="blue">欢迎你，资产管理人{{Username}}</font></p>
    <p align="center"><a href="/myform/">返回</a></p>
    <p align="center">表单如下：</p>
    {% if judge != 5 %}
    <p align="center"><a href="/form_inform/?form={{form.Formnumber}}">设备信息</a></p>
    {% endif %}
<form method="post" onsubmit="return check(this)">
<table border=1 align="center" background="/media/Images/formback.jpg">
<tr><td>表单号</td><td><input name="form" type="text" value={{ form.Formnumber }} readonly="readonly"></td></tr>
<tr><td>分类</td><td>{{ form.Level }}</td></tr>
<tr><td>操作</td><td><input name="action" type="text" value={{ form.Action }} readonly="readonly"></td></tr>
<tr><td>申请人</td><td><input name="applicant" type="text" value={{ form.Applicant }} readonly="readonly"></td></tr>
<tr><td>数量</td><td>{{ form.Amount }}</td></tr>
<tr><td>日期</td><td>{{ form.Date }}</td></tr>
{% if judge == 1  %}
    {% if form.Action == "借出"  %}
    <tr><td>时间</td><td>{{ form.Time }}</td></tr>
    {% elif form.Action == "调拨"  %}
    <tr><td>调拨单位</td><td>{{ form.ToBelong }}</td></tr>
    {% endif  %}
<tr><td>申请理由</td><td>
<textarea rows="10" cols="30" type="text" name="reason" readonly="readonly" maxlength=200>
{{ form.Reason }}</textarea></td></tr>
<tr><td>审批意见</td><td>
<textarea rows="10" cols="30" type="text" name="suggestion" readonly="readonly" maxlength=200>
输入意见</textarea></td></tr>
<tr><td>申请中</td><td><input type="submit" value="删除" name="delete" ></td></tr>
{% elif judge == 2 %}
    {% if form.Action == "借出"  %}
    <tr><td>时间</td><td><input name="time" type="text"></td></tr>
    {% elif form.Action == "调拨"  %}
    <tr><td>调拨单位</td><td>
    <select name="tobelong">
      <option value= "" > 请选择</option>
      {% for b in all_belong %}
      <option value= {{ b.Name }} > {{ b.Name }} </option>
      {% endfor %}
    </select></td></tr>
    {% endif  %}
<tr><td>申请理由</td><td>
<textarea rows="10" cols="30" type="text" name="reason" maxlength=200>
</textarea></td></tr>
<tr><td>初始表单，请完善后提交</td><td><input type="submit" value="提交" name="give" >
<input type="submit" value="删除" name="delete" ></td></tr>
{% elif judge == 3 %}
<tr><td>申请理由</td><td>
<textarea rows="10" cols="30" type="text" name="reason" readonly="readonly" maxlength=200>
{{ form.Reason }}</textarea></td></tr>
<tr><td>审批意见</td><td>
<textarea rows="10" cols="30" type="text" name="suggestion" readonly="readonly" maxlength=200>
{{ form.Suggestion }}</textarea></td></tr>
<tr><td><input type="submit" value="归还" name="giveback"></td></tr>
{% elif judge == 4 %}
<tr><td>申请理由</td><td>
<textarea rows="10" cols="30" type="text" name="reason" readonly="readonly" maxlength=200>
{{ form.Reason }}</textarea></td></tr>
<tr><td>审批意见</td><td>
<textarea rows="10" cols="30" type="text" name="suggestion" readonly="readonly" maxlength=200>
{{ form.Suggestion }}</textarea></td></tr>
<tr><td><input type="submit" value="再次归还" name="giveback"></td></tr>
{% else %}
<tr><td>申请理由</td><td>
<textarea rows="10" cols="30" type="text" name="reason" readonly="readonly" maxlength=200>
{{ form.Reason }}</textarea></td></tr>
<tr><td>审批意见</td><td>
<textarea rows="10" cols="30" type="text" name="suggestion" readonly="readonly" maxlength=200>
{{ form.Suggestion }}</textarea></td></tr>
<tr><td>{{ form.State }}</td></tr>
{% endif %}
</table>
</form>
</body>
</html>
