<html>   
    <head>    
        <title>表单详情</title>   
    </head>   
    <body align="center" background="/media/Images/back.jpg">
    <p align="center">
<p align="center"><font size="6" face="楷体" color="blue">欢迎你，资产管理人{{Username}}</font></p>
    <p align="center"><a href="/myform/">返回</a></p>
    <p align="center">表单如下：</p>
<form method="post">
<table border=1 align="center" background="/media/Images/formback.jpg">
<tr><td>表单号</td><td><input name="form" type="text" value={{ form.Formnumber }} readonly="readonly"></td></tr>
<tr><td>分类</td>
  {% if  form.Level  == "1"  %}
  <td>计算机</td>
  {% elif  form.Level  == "2"  %}
  <td>家具</td>
  {% elif  form.Level  == "3"  %}
  <td>仪器</td>
  {% endif %}
</tr>
<tr><td>申请人</td><td><input name="applicant" type="text" value={{ form.Applicant }} readonly="readonly"></td></tr>
<tr><td>数量</td><td>{{ form.Amount }}</td></tr>
<tr><td>单价</td><td>{{ form.Price }}</td></tr>
<tr><td>日期</td><td>{{ form.Date }}</td></tr>
<tr><td>申请理由</td><td>
<textarea rows="10" cols="30" type="text" name="reason" readonly="readonly" maxlength=200>
{{ form.Reason }}</textarea></td></tr>
{% if judge == 1  %}
<tr><td>申请中</td><td><input type="submit" value="删除" name="delete" ></td></tr>
{% elif judge == 2  %}
<tr><td>已删除</td></tr>
{% else %}
<tr><td>审批意见</td><td>
<textarea rows="10" cols="30" type="text" name="suggestion" readonly="readonly" maxlength=200>
{{ form.Suggestion }}</textarea></td></tr>
<tr><td>{{ form.State }}</td></tr>
{% endif %}
</table>
</form>
</body>
</html>
