<html>   
    <head>    
        <title>查看资产管理人</title>   
    </head>   
    <body align="center" background="/media/Images/back.jpg"> 
    <p align="center"><font size="6" face="楷体" color="blue">欢迎你，管理员{{Username}}</font></p>
    <p align="center"><a href="/homepage">返回主页</a></p>
    {% if isnull == 0 %}
    <p align="center"> 查看资产管理人：</p>
    <p align="center">特权：1-计算机 2-家具 3-仪器</p>
<table border=1 align="center" background="/media/Images/formback.jpg">
 <tr>
  <th>特权</th><th>账户</th><th>名字</th><th>归属单位</th>
 </tr>
{% for user in user_list %}
 <tr>
  <td>{{ user.Level }}</td>
  <td>{{ user.Acount }}</td>
  <td>{{ user.Name }}</td>
  <td>{{ user.Belong }}</td>
  <td><a href="/delete_user/?Acount={{user.Acount}}">删除</a>
  <a href="/updata_user/?Acount={{user.Acount}}">修改</a></td>
 </tr>
{% endfor %}
</table>
<p align="center"><a href="/add_user">点此添加资产管理人</a></p>
{% else %}
<p align="center">未找到资产管理人信息</p>
<p><a href="/add_user">点此添加资产管理人</a></p>
{% endif %}
</body> 
</html> 