<html>   
    <head>    
        <title>我的表单</title>   
    </head>   
    <body align="center" background="/media/Images/back.jpg"  >
    <font size="32" face="华文行楷" color="#FF0000">欢迎使用设备管理平台</font>
    </body> 
    <p align="center"><a href="/homepage">返回主页</a></p>
    <p align="center"><p align="center"><font size="6" face="楷体" color="blue">
欢迎你，{{Level}}资产管理人{{Username}}</font></p>
    <p align="center">增加表单如下：</p>
<table border=1 align="center" background="/media/Images/formback.jpg">
 <tr>
  <th>表单号</th><th>分类</th><th>设备名</th><th>数量</th><th>日期</th><th>状态</th>
 </tr>
{% for addform in addform_list %}
 <tr>
  <td>{{ addform.Formnumber }}</td>
  <td>{{ addform.Level }}</td>
  <td>{{ addform.Name }}</td>
  <td>{{ addform.Amount }}</td>
  <td>{{ addform.Date }}</td>
  <td>{{ addform.State }}</td>
  <td><a href="/user_addform/?form={{addform.Formnumber}}">查看详细</a></td>
 </tr>
{% endfor %}
</table>
    <p align="center">其它表单如下：</p>
<table border=1 align="center"  background="/media/Images/formback.jpg">
 <tr>
  <th>表单号</th><th>操作</th><th>数量</th><th>日期</th><th>状态</th>
 </tr>
{% for form in form_list %}
 <tr>
  <td>{{ form.Formnumber }}</td>
  <td>{{ form.Action }}</td>
  <td>{{ form.Amount }}</td>
  <td>{{ form.Date }}</td>
  <td>{{ form.State }}</td>
  <td><a href="/user_form/?form={{form.Formnumber}}">查看详细</a></td>
 </tr>
{% endfor %}
</table>
</html>